.list-inline-item {
  .btn-outline-info {
    color: #5a606b;
    border: 1px solid #5a606b;
    margin-bottom: 10px;
    border-radius: 20px;
    font-weight: 500;

    &:hover, &:active, &:focus {
      color: #fff;
      border-color: #fff;
      background: transparent;
      transition: all .3s ease;
    }
  }
}
